GRADEFUL_STUDENT_DB="gradeful_students"
GRADEFUL_STUDENT_DB_USER="gradeful-student-admin"
GRADEFUL_STUDENT_DB_PASSWORD="change me"
MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="change me too"


# DO NOT CHANGE
DATABASE_USERNAME=$GRADEFUL_STUDENT_DB_USER
DATABASE_PASSWORD=$GRADEFUL_STUDENT_DB_PASSWORD
DATABASE_NAME=$GRADEFUL_STUDENT_DB
MESSAGE_BROKER="broker:29092"
SERVER_TIMEOUT=1080000
GRADEFUL_HOST="localhost"
DATABASE_HOST="student-db"
DATABASE_PORT=27017
DATABASE_TYPE=mongodb
DATABASE_AUTH_DB="test"
DATABASE_CONNECTION_TIME_OUT=150000
DATABASE_ACQUIRE_TIME_OUT=150000
DATABASE_CONNECTION_LIMIT=20
